<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Personal Site</title>
  <link rel="stylesheet" href="/static/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bellefair&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="text">
      <h1>MAYU TAKEDA</h1>
      <h3>Engineer | Urban Planner | Systems Thinker</h3>
      <p>I'm a backend engineer with a unique ability to navigate both code and complexity. At Bitly, I build and maintain high-traffic RESTful APIs, optimize database performance, and lead the development of scalable backend services in Go. With a background in urban planning and policy, I bring a strategic, systems-level perspective to technical problem-solving. I’m especially skilled at communicating across disciplines—translating technical work for product, design, and non-technical stakeholders to drive alignment and impact.</p>

      <a href="/cv">CV</a>
      <a href="/contact">Contact Me</a>
    </div>
    <div class="image">
      <img src="/static/images/about.jpg" alt="Mayu">
    </div>
  </div>
</body>

</html>