<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Personal Site</title>
  <link rel="stylesheet" href="/static/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bellefair&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="text">
      <h1>MAYU TAKEDA</h1>
      <p>I bridge the technical and the social. My background includes backend engineering at Bitly, where I developed and
        maintained RESTful APIs and optimized database performance for millions of daily requests. I also bring experience
        inurban planning and policy advocacy, collaborating with diverse stakeholders to address complex challenges and drive
        meaningful change. I'm adept at data analysis, strategic communication, and project management, and I excel at
        translating technical concepts for non-technical audiences.</p>
      
      <a href="/cv">CV</a>
      <a href="/contact">Contact Me</a>
    </div>
    <div class="image">
      <img src="/static/images/mayu.jpg" alt="Mayu">
    </div>
  </div>
  
    
</body>

</html>